<section class="section section__hero room-hero" data-slider="hero">
  <div class="swiper-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-hero two">
        <div class="room-hero__decor"></div>
        <h1 class="room-hero__title">
          <span class="room-hero__title--transform">Двомісний номер</span>
          люкс
        </h1>
        <p class="text text__room hero-room__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <!-- <div class="swiper-slide slide-hero three">
        <div class="container">
          <div class="room-hero__decor"></div>
          <h1 class="room-hero__title">
            <span class="room-hero__title--transform">3-місн номер</span>
          </h1>
          <p class="text text__room hero-room__descr">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            odit veniam enim tempora maiores facere rem praesentium unde eius
            asperiores!
          </p>
        </div>
      </div>
      <div class="swiper-slide slide-hero luxe">
        <div class="container">
          <div class="room-hero__decor"></div>
          <h1 class="room-hero__title">
            <span class="room-hero__title--transform">Люкс</span>
          </h1>
          <p class="text text__room hero-room__descr">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ad
            veritatis esse at, dolores voluptatem a odit mollitia quae? Quam
            voluptatum dicta necessitatibus distinctio animi.
          </p>
        </div>
      </div> -->
    </div>
    <ul class="room-hero__arrows">
      <li>
        <button
          class="swiper-hero-button-prev room-hero__swiper-button"
          type="button"
        >
          <svg width="40" height="40">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          class="swiper-hero-button-next room-hero__swiper-button"
          type="button"
        >
          <svg width="40" height="40">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- <div class="room-hero__footer">
  <div class="room-hero__wrap">
  </div>
  <div class="room-hero__button-wrap">
    <button
      class="button room-hero__button popup-link"
      type="button"
      data-popup="popup2"
    >
      Переглянути ціни
    </button>
  </div>
</div> -->
